BasedOnStyle: Google
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false

CommentPragmas: NOLINT:.*
UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
PenaltyExcessCharacter: 32
DerivePointerAlignment: false
PointerAlignment: Left
