BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Linux
CommentPragmas: NOLINT:.*
IndentWidth: 4
PointerAlignment: Left
TabWidth: 4
PenaltyExcessCharacter: 32
