service snapuserd /system/bin/snapuserd
    socket snapuserd stream 0660 system system
    oneshot
    disabled
    user root
    group root system
    seclabel u:r:snapuserd:s0

on property:sys.boot_completed=1
    exec_background /system/bin/snapshotctl record_boot_complete
