# RPMB Mock
on post-fs
    mkdir /mnt/vendor/persist/ss 0770 root system
    exec -- /system/bin/rm -f /mnt/vendor/persist/ss/rpmb_sock
    start rpmb_mock_init
    start rpmb_mock

on post-fs-data
    mkdir /data/vendor/ss 0770 root system
    symlink /mnt/vendor/persist/ss /data/vendor/ss/persist
    chown root system /data/vendor/ss/persist
    chmod 0770 /data/vendor/ss/persist

    # Storage proxy
    restart storageproxyd

service storageproxyd /vendor/bin/storageproxyd -d ${ro.hardware.trusty_ipc_dev:-/dev/trusty-ipc-dev0} \
        -r /mnt/vendor/persist/ss/rpmb_sock -p /data/vendor/ss -t sock
    class early_hal
    user system
    group system

service rpmb_mock_init /vendor/bin/rpmb_dev --dev /mnt/vendor/persist/ss/RPMB_DATA --init --size 2048
    disabled
    user system
    group system
    oneshot

service rpmb_mock /vendor/bin/rpmb_dev --dev /mnt/vendor/persist/ss/RPMB_DATA \
                          --sock /mnt/vendor/persist/ss/rpmb_sock
    class main
    disabled
    user system
    group system
