on post-fs
    # run a self check on boringssl for NIAP compliance
    start boringssl_self_test


service boringssl_self_test /system/bin/boringssl_self_test
    oneshot
    # needs explicitly start
    disabled
