# Get process info
getpid: 1
gettid: 1
getuid: 1
prctl: 1

# Generic file descriptor stuff.
openat: 1
close: 1
faccessat: 1
fstat: 1
read: 1
write: 1
lseek: 1
getdents64: 1

mmap: 1
mincore: 1
msync: 1
munmap: 1
futex: 1

# Send signals to itself.
rt_tgsigprocmask: 1
rt_sigaction: 1
tgkill: 1
rt_tgsigqueueinfo: 1
rt_sigreturn: 1

# Talk to tombstoned.
recvmsg: 1
