service tombstoned /system/bin/tombstoned
    user tombstoned
    group system

    socket tombstoned_crash seqpacket 0666 system system
    socket tombstoned_intercept seqpacket 0666 system system
    socket tombstoned_java_trace seqpacket 0666 system system
    writepid /dev/cpuset/system-background/tasks

on post-fs-data && property:ro.crypto.type=file
    start tombstoned

on post-fs-data && property:ro.crypto.state=unencrypted
    start tombstoned

on property:ro.crypto.type=block && property:vold.decrypt=trigger_post_fs_data
    start tombstoned